body{
    /* 기본셋팅: 페이지의 너비와 높이를 브라우저의 너비와 높이로 설정 */
    height: 100%;
    width: 100%;
    /* 페이지에 기본적으로 내포된 패딩과 마진을 제거: 더 효율적인 div 배치 유도 */
    padding: 0px;
    margin: 0px;
    /* 배경색 */
    background-color: Lavender;
}

#d_header{
    position: fixed;
    width: 98%;
    height: 10%;
    padding: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    min-height: 20px;
    border-bottom: 5px black solid;
    background-color: lavender;
}

#d_title{
    position: relative;
    float: left;
    width: 40%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


#d_warning{
    position: relative;
    float: left;
    left: 24%;
    width: 20%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#d_contact{
    position: relative;
    float: left;
    left: 26%;
    width: 15%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


#d_center_logo{
    position: absolute;
    width: 8%;
    left: 50%;
    margin-left: -4%;
    top: 10%;
}

#d_contents{
    position: absolute;
    width: 47.5%;
    padding: 10px;
    left: 1%; 
    top: 14%;
    border: 0px;
    background-color: azure;
    border-radius: 10px;
}

#d_header1{
    font-weight: bold;
    font-size: 20pt;
}

#fileName{
    background-color: lavender;
    border: 0px;
    width: 300px;
    height: 70px;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
}

#fileSize{
    background-color: lavender;
    border: 0px;
    width: 150px;
    height: 70px;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    left:300px;
}

#download{
    background-color: bisque;
    border: 1px black solid;
    border-radius: 15px;
    width: 250px;
    height: 30px;
}

#d_input{
    position: absolute;
    left: 50.5%;
    top: 14%;
    width: 47%;
    padding: 10px;
    border-radius: 5px;
    background-color: azure;
    text-align: center;
}

#d_unit{
    text-align: left;
}

#t_sizeinput{
    width: 300px;
    margin: auto;
}

#d_footer{
    position: fixed;
    width: 100%;
    min-height: 70px;
    height: auto;
    top:100%;
    margin-top: -70px;
    border-top: 3px gray dotted;
    text-align: center;
    background-color: lavender
}

#d_example{
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    display: inline-block;
    background-color: #D3D3D3;
    border-radius: 6px;
}

#s_greenText{
    color: green;
}

#s_blueText{
    color: blue;
}

#h_link{
    color: crimson;
    text-decoration: none;
}